[Unit]
Description=Hans
After=network.target

[Service]
WorkingDirectory=/home/pi/hans
ExecStart=/usr/local/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target
